<div class="border-footer">
  <div class="container">
    <div class="row">

        <div class="col-12 col-md-3">

            <div class="card bg-footer mt-3">
               <div class="card-body bgprimary text-white mt-5">
                    <p>Blog JAVA C@C Comision 2011</p>
                    <hr>
                    <p>Developers : Caito Vilas</p>
                    <hr>
                    <p>Profesor : Mauricio Sanchez</p>
               </div>
            </div>

        </div>

        <div class="col-12 col-md-6">

            <div class="card bg-footer mt-3">
               <div class="card-body bg-footer text-white text-center">
                    <h3>Contacto</h3>
                   <div class="container">
                    <form >
                        <input type="text" name="email"  placeholder="Ingresa tu correo" class="form-control">
                        <p>
                            <small></small>
                        </p>
                        <textarea name="mensaje"  class="form-control" cols="30" rows="2" placeholder="Deja tu Comentario"></textarea>
                        <p>
                            <small></small>
                        </p>
                        <hr>
                        <button class="btn btn-primary btn-block" >Enviar</button>
                    </form>
                   </div>
               </div>
            </div>
            
        </div>

        <div class="col-12 col-md-3">

            <div class="card bg-footer text-center mt-3">
               <div class="card-body bg-footer text-white">
                   <img src="../../../../assets/images/icoJava.png" alt="java" class="img-footer">
               </div>
            </div>
        </div>
</div>

