/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    box-sizing: border-box;
    background-color: #303de8;
    }
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    }

.container-section{
    padding: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    /* max-height: 100vh; */
    overflow-y: auto;
}
.border-container{
    border-radius: 50px;
    background: #bababa;
    box-shadow:  10px 10px 23px #999999,
            -10px -10px 23px #dbdbdb;
}
.logo1{
    width: 100px;
    animation:  latir infinite 8s linear;
}
.logo2{
    width: 50px;
}
.border-container-under{
    border-radius: 50px;
    background: #f27836;
    box-shadow: inset 20px 20px 60px #ce662e,
                inset -20px -20px 60px #ff8a3e;
}
.border-footer{
border-radius: 50px;
background: #303de8;
box-shadow: inset 20px 20px 60px #2934c5,
            inset -20px -20px 60px #3746ff;
}
.img-banner{
    height: 90%;
    max-height: 250px;
}
.bg-footer{
    background-color: #303de8;
}

.border-aside{
border-radius: 50px;
background: #30e846;
box-shadow: inset 15px 15px 30px #28c13a,
            inset -15px -15px 30px #38ff52;
}
.border-btn-aside{
 border-radius: 50px;
background: linear-gradient(145deg, #33f84b, #2bd13f);
box-shadow:  15px 15px 35px #1f942d,
             -15px -15px 35px #41ff5f;
}

.container-home{
border-radius: 49px;
background: linear-gradient(145deg, #5a5555, #4c4747);
box-shadow:  12px 12px 19px #322f2f,
             -12px -12px 19px #766f6f;
}
.container-home-in{
border-radius: 50px;
background: #4c4747;
box-shadow: inset 15px 15px 14px #433e3e,
            inset -15px -15px 14px #555050;
}

.border-btn-blog{
border-radius: 78px;
background: linear-gradient(145deg, #514c4c, #444040);
box-shadow:  7px 7px 14px #373434,
             -7px -7px 14px #615a5a;
}

.border-btn-main{
    border-radius: 53px;
    background: #4c4747;
    box-shadow:  7px 7px 10px #3c3838,
                 -7px -7px 10px #5c5656;
}

.ico-java{
    font-size: 50px;
    color: red;
}

.img-article{
    width: 75px;
    border-radius: 50%;
}

.verMas{
    cursor: pointer;
}
.error{
    background-color: red;
    color: white;
}
@keyframes latir{
    0%{
        transform: scale(1.0);
    }
    25%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(0);
    }
    75%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.0);
    }
}
